<!DOCTYPE html>

<html lang="ro-RO">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>SiteVlad</title>
    <link rel = "stylesheet" type="text/css" href="still.css">
    <link rel="icon" href="/favicon.png">
    <script src="script.js" type="application/javascript"></script>
</head>
<script>
</script>

<body>
    <header>
        <h1>
            <img alt="nu e imag" src="logo.png" height=147>
            Cinema WEBTASTIC
        </h1>
    </header>

    <nav>
        <hr />
        <a onclick="window.location.href='/'">Inapoi</a>
        &nbsp;&nbsp;
        <hr />
    </nav>

    <main id = "continut">
        <form action="/rezervare.html" method="post" id = "RezervareForm"> 
            <label>Filmul Dumneavoastra</label>
            <input class="inputFilm" type="text" id="film" name="film" value = "<%= film.titlu %>" readonly>
            <br/>
            <br/>
            <label>Numele Dumneavoastra</label>
            <input class="inputNume" type="text" id="nume" name="nume" value = "">
            <br/>
            <br/>



            <% for(var i = 0;i < film.locuri.length;++i){
                var rand = film.locuri[i];    
                for(var j = 0;j < rand.locuri.length;++j){
                    var loc = rand.locuri[j];    
                %>
                <label class="container"><%= loc.numar %>
                    <input value = "<%=i+' '+j%>" type = "checkbox" id = "<%=i+' '+j%>" name="locuri[]" onclick = "buttonClicked('<%= i %>','<%= j %>')" <%= loc.ocupat ? 'disabled' : ''%> >
                    <span class="checkmark"></span>
                </label>
            <% } %>
            <br/>
            <br/>
            <% } %>

            <input class="buttonRezerva" type=submit value="Rezerva">
            
        </form>
            
    </main>

    <footer>
        <br/>
        <hr />
        ©.2020.Programare web
    </footer>

</body>

</html>